body,
html {
  margin: 0;
  padding: 0;
  height: 3000px;
}

#progressBar {
  position: fixed;
  width: 0%;
  height: 7px;
  background: #3498db;
  top: 0;
  left: 0;
  z-index: 9999;
}

.content {
  padding: 20px;
}